@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Roboto:wght@100;300;400;500;700;900&display=swap');

h1 {
    font-size: 1.5em;
    font-family: roboto;
    padding: 2em;
    margin: 0 2em ;
    font-weight: bold;
    text-decoration: none;
    color: black ;
    background-color: #EA9010;
}

h2 {
    font-size: 1.5em ;
    font-family: roboto;
    padding: 1em 2em;
    margin: 0 2em;
    font-weight: bold;
    color: black;
    background-color:#C9E3AC ;
}

p {
   font-size: 1.5em ;
    font-family: roboto;
    padding: 1em 2em;
    margin: 0 2em;
    font-weight: normal;
    color: black;
    background-color:#EAEFBD ;
}

.logo {
    background-size: cover;
    background-image: url('https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png');
    background-color: #EAEFBD;
    height: 20em;
    width: 20em;
    margin: 0 3em;

}
